[alias]
	tree = log --oneline --graph --decorate --all
[user]
	name = Marko Jerkić
	email = markojerkic266@gmail.com
[core]
	longpaths = true
	editor = nvim
	autocrlf = input
[credential]
	helper = store
