[alias]
	tree = log --graph --decorate --pretty=oneline --abbrev-commit
[user]
	name = Marko Jerkić
	email = markojerkic266@gmail.com
[core]
	longpaths = true
	editor = nvim
[credential]
	helper = store
